* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

#top__part {
  text-align: center;
  height: 23rem;
}
#top__part > img {
  width: 15rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#search-box {
  margin-top: 1rem;
  text-align: center;
}
#window-flex {
  display: flex;
  width: 70rem;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem auto;
}

#window-flex > div:nth-child(2) {
  border-left: solid black 1px;
}

#cocktail-list {
  margin-top: 2rem;
}

.cocktail-list-ordered > li {
  margin-bottom: 0.3rem;
  margin-left: 1rem;
  font-weight: 500;
}

/* Hover effects */
.cocktail-list-ordered > li:hover {
  text-decoration: underline skyblue wavy 2px;
  cursor: pointer;
  transform: scale(1.1);
}

/* Details DIV styling */
#cocktail-details {
  text-align: center;
  width: 40rem;
}
#cocktail-details > h2 {
  margin: 1rem auto 2rem;
}
#cocktail-details img {
  width: 15rem;
  border-radius: 1rem;
  opacity: 0.8;
}
#cocktail-details > h3 {
  margin-top: 1rem;
}
#cocktail-details > p {
  text-align: justify;
  padding: 1rem;
  font-size: 0.9rem;
}
#cocktail-details > h4 {
  margin-top: 1rem;
  text-align: left;
  margin-left: 1rem;
}
#cocktail-details > ul > * {
  margin-left: 1rem;
  text-align: left;
  font-size: 0.9rem;
}
