#chat-UI {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2rem 2rem 1rem 1rem;
  border-left: solid 0.2rem white;
  border-right: solid 0.2rem white;
  width: 50rem;
  height: 60rem;
  overflow: hidden;
  outline: none;
}
#chat-UI .top-UI {
  text-align: center;
  font-size: 2rem;
  color: white;
  height: 5%;
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  opacity: 0.9;
}
#chat-UI .messages-UI {
  width: 100%;
  height: 90%;
  background-color: skyblue;
  opacity: 0.9;
}
#chat-UI .input-UI {
  width: 100%;
  height: 5%;
  background-color: gainsboro;
  opacity: 0.9;
}
