@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background: gainsboro;
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container > div:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}
.container > div:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}
.container > div:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
}
.container > div:nth-child(4) {
  background-image: url("https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
}
.container > div:nth-child(5) {
  background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.container {
  display: flex;
  width: 100%;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 90vh;
  margin: 0.1rem;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  flex: 1;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 0.5rem;
  position: absolute;
  bottom: 0.4rem;
  left: 0.4rem;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 4;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 1s ease-in;
}
